@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background : #FF90BC;
  --primary: #FFC0D9;
  --secondary: #F9F9E0;
  --accent: #8ACDD7;
}

@layer utilities {
 .h-screen {
    height: 100dvh;
  }
}
